$font: "Roboto" sans-serif;
$font-size: 14px;

$footer-height: 145px;

$border-radius: 4px;

$dark-color: #2d3136;
$red-color: #be393b;
$green-color: #58ad52;
$grey-color: #e9eef3;
$light-green-color: #deebde;