@include sticky-footer($footer-height);

footer {
  background: $dark-color;

  .footer-inner {
    height: $footer-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      padding: 20px 0;
    }

    .logo {
      img {
        max-width: 250px;

        @include media-breakpoint-down(sm) {
          max-width: 200px;
        }
      }
    }

    .socials {
      display: flex;
      align-items: center;
      width: 150px;
      justify-content: space-between;

      a {
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        display: inline-block;
        border: 2px solid #454648;
        border-radius: 100px;
        background: #2f3338;
        color: #656566;
      }
    }
  }
}